<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings configSource="ConnectionStrings.config" />
  <appSettings>
    <add key="ChromatographyConn" value="ChromatographyConn" />
    <add key="ChromatographyConnVer15" value="ChromatographyConnVer15" />
    <add key="ChromatographyConnVer16" value="ChromatographyConnVer16" />
    <add key="AuditTrailConn" value="AuditTrailConn" />
    <add key="AuditTrailConnVer15" value="AuditTrailConnVer15" />
    <add key="AuditTrailConnVer16" value="AuditTrailConnVer16" />
    <add key="SecurityConn" value="SecurityConn" />
    <add key="SecurityConnVer15" value="SecurityConnVer15" />
    <add key="SecurityConnVer16" value="SecurityConnVer16" />
    <add key="ConnectionStringDefaultDb" value="postgresConnStringDefaultDb" />
  </appSettings>

</configuration>