<connectionStrings>
  <add name="ChromatographyConn" connectionString="User Id=postgres;Password=Jamun!@#;host=localhost;database=Chromatography;port=9257"/>
  <add name="ChromatographyConnVer15" connectionString="User Id=postgres;Password=Jamun!@#;host=localhost;database=Chromatography;port=9257"/>
  <add name="ChromatographyConnVer16" connectionString="User Id=postgres;Password=Jamun!@#;host=localhost;database=ChromatographyV16;port=9257"/>
  <add name="AuditTrailConn" connectionString="User Id=postgres;Password=Jamun!@#;host=localhost;database=SimplicityCDSAuditTrail;port=9257"/>
	<add name="AuditTrailConnVer15" connectionString="User Id=postgres;Password=Jamun!@#;host=localhost;database=SimplicityCDSAuditTrail15;port=9257"/>
  <add name="AuditTrailConnVer16" connectionString="User Id=postgres;Password=Jamun!@#;host=localhost;database=SimplicityCDSAuditTrail16;port=9257"/>
  <add name="PostgresSecurityDbConnectionString" connectionString="User Id=postgres;Password=Jamun!@#;host=localhost;database=SimplicityCDSSecurity;port=9257"/>
  <add name="postgresConnStringDefaultDb" connectionString="User Id=postgres;Password=Jamun!@#;host=localhost;database=postgres;port=9257"/>
</connectionStrings>