<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Simplicity CDS Platform" value="https://nuget.perkinelmer.com/nuget/SimplicityCDS-Platform/" />
  </packageSources>
  <packageSourceCredentials>
	<Simplicity_x0020_CDS_x0020_Platform>
		<add key="Username" value="SimplicityCDS" />
		<add key="ClearTextPassword" value="Jamun123" />
	</Simplicity_x0020_CDS_x0020_Platform>
  </packageSourceCredentials>
</configuration>